
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="product">
    <div class="col-md-6">
        <div class="image">
            <img src="~/Asset/images/galaxy-note.jpg" />
            <div class="image-more">
                <ul class="row">
                    <li class="col-lg-3 col-sm-3 col-xs-4">
                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note.jpg"></a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-4">
                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note-2.jpg"></a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-4">
                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note-3.jpg"></a>
                    </li>
                    <li class="col-lg-3 col-sm-3 col-xs-4">
                        <a href="#"><img class="img-responsive" src="~/Asset/images/galaxy-note-4.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="caption">
            <div class="name"><h3>Aliquam erat volutpat</h3></div>
            <div class="info">
                <ul>
                    <li>Brand: text</li>
                    <li>ID: 0122222</li>
                </ul>
            </div>
            <div class="price">$122<span>$98</span></div>
            <div class="options">
                AVAILABLE OPTIONS
                <select>
                    <option value="" selected>----Please Select----</option>
                    <option value="white">WHITE</option>
                    <option value="black">BLACK</option>
                </select>
            </div>
            <div class="well"><label>Qty: </label> <input class="form-inline quantity" type="text" value="1"><a href="#" class="btn btn-2 ">ADD</a></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

